@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CourseApp</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Candidate" asp-action="Apply">
            Apply
        </a>
    </p>
</div>
