@model Candidate

<div class="display-6">
    Apply
</div>


<form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group my-2">
                <label>Email</label>
                <input name="Email" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group my-2">
                <label>FirstName</label>
                <input name="FirstName" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group my-2">
                <label>LastName</label>
                <input name="LastName" class="form-control" />
            </div>
        </div>
    </div>    
    <div class="form-group my-2">
        <label>Age</label>
        <select class="form-control" name="Age">
            @for(int i = 18; i <= 30; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>

    <fieldset>
        <legend>Select One Course</legend>
        <p>
            <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core MVC" />
            <label for="mvc">ASP.NET Core MVC</label>
        </p>
        <p>
            <input id="api" type="radio" name="SelectedCourse" value="ASP.NET Core API" />
            <label for="api">ASP.NET Core API</label>
        </p>
        <p>
            <input id="blazor" type="radio" name="SelectedCourse" value="Blazor" />
            <label for="blazor">Blazor</label>
        </p>
    </fieldset>

    <div>
        <button class="btn btn-primary" type="Submit">
            Apply
        </button>
    </div>
    
</form>